# ip:74.208.210.47
# pass:1IA,;yC3r7
# cid=659450715
# pass=Sa96365U#
# dbpass=Ad009257
# phpmyadmin=**+**-**/12

# Node modules
node_modules
package-lock.json
resources/views/auth/login.edge
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea


#personal task

pending_task.txt
file-modules.txt
uploads/*
public/uploads/*