@layout('layout')

@section('body')
<div class="container">
	<table class="table table-success">
	  <thead>
	    {{ user.id }}
	  </thead>
	  <tbody> 
	  	
	  </tbody>
	</table>
	
</div>


@endsection